/* App Doodle Pro CSS 
*
*@dz
*/

body{
	color:#848484;
	font-family:Helvetica Neue;
	font-weight:bold;
	background-image: url('../../public/img/body-bg.gif');
	background-repeat:repeat-x repeat-y;
	margin:0;
}


a:link {color:#fff;text-decoration:none;}
a:visited {color:#fff;text-decoration:none;}
a:hover {color:#fffd33;text-decoration:none;}
a:active {color:#fff;text-decoration:none;}

label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
p { clear: both; }
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }

.shadow{
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .25);
}

#wrapper{
	width:960px;
	margin:0 auto;
}

#main-image{
	margin:0 80px 0 80px;
}

#header{
	width:100%;
	height:181px;
	background-image: url('../../public/img/header-bg.gif');
	background-repeat:repeat-x;
}

#header-left{
	min-width:260px;	
}

#header-right{
	min-width:700px;
}

#header a {
	color:#fff;
}

#header .logo{
	font-size:38px;
	font-family:Lithos Pro;
	letter-spacing:-4px;
	float:left;
	padding:136px 0 0 73px;
	background-image: url('/public/img/icon.png');
	background-repeat:no-repeat;
	background-position:19px 136px;
}

#header ul{
	float:right;
	padding:124px 0 0 0;
}

#header ul li {
	float:left;
	font-size:18px;
	list-style-type:none;
	padding:8px 24px 8px 24px;
}

.content {
	padding:40px 0;
	width:960px;
	height:auto;
	clear:both;
}

.content-main{
	width:700px;
	float:left;	
}

.content-main .main-img{
	float:left;
	margin:0 0 80px 0;
}


.content-main .description {
	font-weight:normal;
	text-align:left;
}

.content-main .description li{
	font-weight:normal;
    text-align:left;
	margin:0 0 24px 0;
}

.persuasion {
    width:700px; 
}

.persuasion h3 {
    color:green;
    background-color:#FFFCE8;
    -moz-border-radius:8px;    
    -webkit-border-radius:8px;
    -moz-box-shadow:2px 3px 6px #848484;    
    -webkit-box-shadow:2px 3px 6px #848484;
    padding:8px 8px 8px 8px;    
}

.stories {
   width:700px;
}

.stories p {
    font-size:12px;
    font-weight:normal;
}

#content-sidebar{
	width:258px;
	float:right;
}

#content-sidebar .pricing{
	list-style-type:none;
}

#content-sidebar .pricing li{
	float:right;
	width:260px;
	margin:0 0 20px 0;
	text-align:right;
}

#content-sidebar #buy-button {
	background-image: url('/public/img/buy-button.gif');
	font-size:18px;
	padding:15px 59px;
	float:right;
	text-align:right;
}


#buy-button:visited {
	color:#fff;
}

#buy-button:hover {
	color:#fffd33;
}

#content-main p {
	font-size:18px;
	line-height:36px;
}

#checkout {
	width:700px;
	background-color:#fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px	;
}


#checkout h3 {
	font-size:12px;
	padding:0 0 0 12px;
	color:#fff;
	font-weight:bold;
	background-image: url('/public/img/checkout-head-bg.gif');
	background-repeat:repeat-x;
	margin:0;
	line-height:27px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-moz-border-top-left-radius: 8px;
}

#checkout h5 {
    margin: 22px 0 0 24px;
    padding: 0 0 0 12px;
}

.cart{
	font-weight:normal;
	font-size:14px;
	width:280px;
	float:right;
}

.cart label {
	width:100px;
}

.cart input {
	width:32px;
}

.cart img {
	float:left;
	margin:0 70px;
}

.cart #totals {
	padding:41px 36px 0 47px;
	clear:both;
}

.cart #totals td{
	text-align:right;	
}

#shipping-form {
	padding:24px 24px 24px 36px;
	font-size:12px;
	font-weight:normal;
}

#shipping-form .help-text {
	font-size:12px;	
}

#shipping-form input{
	margin:0 0 12px 0;
}

#shipping-form select{
	margin:0 0 13px 0;
    width:195px;
}

#shipping-form .text{
	width:189px;
}

#shipping-form .text-city{
	width:189px;
}

#shipping-form .text-apt{
	width:134px;
}

#shipping-form .text-zip{
	width:189px;
}

#shipping-form .select{
	width:195px;
}

#footer{
	width:960px;
	height:181px;
	padding:40px 0 0 0;
	clear:both;
}

#footer ul {
	width:840px;
	padding:0 10px;
	font-size:12px;
	float:right;
	clear:both;
}

#footer ul li {
	width:130px;
	float:left;
	list-style-type:none;
	color:#848484;
	padding:8px;
	text-align:center;
}

#footer p {
	font-size:12px;
	width:960px;
	text-align:center;
	clear:both;
}
